<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Режиссёры</title>
  <style>
    .director-link {
      text-decoration: none;
    }

    .director-link:hover {
      color: #001445;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <h2>Все режиссёры</h2>
  <div class="row">
    <div class="col">
  <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" </a>
    <a href="directors/add"
       class="btn btn-secondary"
       role="button"
       style="float: right"
       aria-disabled="true">Добавить режиссёра</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Позиция</th>
      <th scope="col">Фильмы</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="director : ${directors}">
      <td>
        <a class="text-link" th:href="'/directors/' + ${director.getId()}"
           th:text="${director.getDirectorsFIO()}">ФИО режиссёра</a></td>
      <td th:text="${director.getPosition()}"></td>
      <td>
        <ul>
          <li th:each="film : ${director.getFilms()}" th:text="${film.getTitle()}"></li>
        </ul>
      </td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>