<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить фильм</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/films/add}" th:object="${filmForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="title" type="text" class="form-control" id="title" placeholder="Название"
                           required>
                    <label for="title">Название</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="premierYear" type="text" class="form-control" id="premierYear" placeholder="Год"
                           required>
                    <label for="premierYear">Год</label>
                    <!-- название поля инпута должно строго соответствать названию поля в DTO-->
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <input name="country" type="text" class="form-control" id="country" placeholder="Страна" required>
                    <label for="country">Страна</label>
                    <!-- название поля инпута должно строго соответствать названию поля в DTO-->
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required>
                        <option selected value="default">Выберите жанр из списка</option>
                        <option th:each="genre : ${T(ru.sber.spring.filmlibrary.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                    </select>
                    <label for="genre">Жанр</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>