<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы фильмотеки</title>
</head>
<body>
<div layout:fragment="content">
            <h2>Все фильмы</h2>
            <div class="row">
                <div class="col">
                    <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" </a>
                    <a href="films/add"
                       class="btn btn-secondary"
                       role="button"
                       style="float: right"
                       aria-disabled="true">Добавить фильм</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Режиссёр</th>
                    <th scope="col">Год</th>
                    <th scope="col">Жанр</th>
                    <th scope="col">Страна</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="film : ${films}">
                    <td>
                        <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}"
                           th:text="${film.getTitle()}">Название фильма</a>
                    <td>
                        <ul>
                            <li th:each="director : ${film.getDirectors()}"
                                th:text="${director.getDirectorsFIO()}"></li>
                        </ul>
                    </td>
                    <td th:text="${film.getPremierYear()}"></td>
                    <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
                    <td th:text="${film.getCountry()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>